/* General */
* { box-sizing: border-box; }

:root {
  --eerie-black: #151515;
  --purple-light-2: #EEEAF2;
  --white: #FFFFFF;
  --pacific-blue: #0EB1D2;
  --opal: #8AB9B5;
  --fulvous: #f7bf7f;
  --fluorescent-blue: #34E4EA;

  --green: #97CC04;
  --yellow: #EEB902;
  --orange: #F45D01;
  --lightRed: #DD1C1A;
  --darkBlue: #086788;
  --purple: #340068;
  --ruby: #D81159;

  --font-family-titles: 'Dosis', sans-serif;
  --font-family-text: 'Red Hat Display', sans-serif;
  --font-weight-title1: 800;
  --font-weight-title2: 700;
  --font-weight-text1: 400;
  --font-weight-text2: 500;
}

html {
  background-color: var(--fluorescent-blue);
}

body {
  background-color: var(--eerie-black);
  color: var(--purple-dark-2);
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-text1);
  font-size: 16px;
  margin: 6px 0 0 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-size: 24px;
  color: var(--pacific-blue);
  font-family: var(--font-family-titles);
  font-weight: var(--font-weight-title1);
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 18px;
  color: var(--pacific-blue);
  font-weight: var(--font-weight-title2);
}

h3 {
  color: var(--purple-dark-2);
  font-weight: var(--font-weight-text2);
  font-size: 16px;
}

h1::selection, h2::selection, h3::selection {
  background-color: var(--fluorescent-blue);
  color: var(--eerie-black);
}

input {
  background-color: var(--opal);
  color: var(--international-orange);
  border: none;
  font-size: 18px;
  padding-left: 16px;
}

input::placeholder {
  color: var(--international-orange);
  font-family: var(--font-family-text);
}

button {
  background-color: var(--fluorescent-blue);
  border: none;
  color: var(--eerie-black);
  font-weight: var(--font-weight-text2);
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background-color: var(--eerie-black);
  color: var(--fluorescent-blue);
  border: 2px solid var(--fluorescent-blue);
}

.material-symbols-outlined {
  font-weight: 600;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.logo-header {
  width: 200px;
  height: 100px;
  margin: 0 auto;
  background-image: url("../images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Shared */
.header-container, .trendingPreview-header, .categoriesPreview-container {
  padding: 0 24px;
}

.trendingPreview-container, .categoriesPreview-container, footer {
  margin-top: 48px;
}

.trendingPreview-header, .categoriesPreview-title {
  margin-bottom: 24px;
}

.movie-container {
  cursor: pointer;
}

.movie-img {
  border-radius: 8px;
}

.categoriesPreview-list, .categories-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  color: var(--white);
}


/* Header */
.header-container {
  padding-top: 40px;
}

.header-container--long {
  background-image: url('https://pics.filmaffinity.com/Deadpool-777527803-large.jpg');
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 19.27%, rgba(0, 0, 0, 0) 29.17%), url(https://pics.filmaffinity.com/Deadpool-777527803-large.jpg);
  background-size: cover !important;
  height: 480px;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-container--categoryView {
  background: linear-gradient(180deg, rgba(238, 204, 117, 0.5) 0%, rgba(238, 204, 117, 0) 72.92%);
} 

.header-title {
  margin-bottom: 16px;
}

.header-arrow {
  font-weight: var(--font-weight-text2);
  font-size: 36px;
  margin-bottom: 16px;
  cursor: pointer;
  display: inline-block;
  color: var(--fluorescent-blue);
}
.header-arrow--white {
  color: var(--fluorescent-blue);
}

.header-searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  flex-wrap: nowrap;
  border-radius: 8px;
}

.header-searchForm:hover {
  box-shadow: 0 5px 10px rgb(12, 92, 102);
}

.header-searchForm input {
  height: 48px;
  width: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  outline: none;
}
.header-searchForm button {
  width: 56px;
  height: 48px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}


/* Trending */
.trendingPreview-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trendingPreview-btn {
  border-radius: 8px;
  height: 32px;
  width: 92px;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.16);
}

.trendingPreview-movieList {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 241px;
  padding-left: 24px;
  padding-bottom: 16px;
}

.trendingPreview-movieList .movie-container {
  display: inline-block;
  margin-right: 8px;
}

.trendingPreview-movieList .movie-container .movie-img {
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}


/* Categories */
.category-container {
  width: 45%;
}

.category-title {
  margin-bottom: 8px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category-title::before {
  content: '••••';
  color: transparent;
  /* TODO: cambiar color por ID de la categoría */
  background-color: var(--idColor);
  border-radius: 8px;
  margin-right: 8px;
  width: 8px;
  height: 8px;
}
#id28 { --idColor: var(--yellow); }
#id12 { --idColor: var(--lightRed); }
#id16 { --idColor: var(--green); }
#id35 { --idColor: var(--darkBlue); }
#id80 { --idColor: var(--purple); }
#id99 { --idColor: var(--orange); }
#id18 { --idColor: var(--ruby); }
#id10751 { --idColor: var(--yellow); }
#id14 { --idColor: var(--lightRed); }
#id36 { --idColor: var(--green); }
#id27 { --idColor: var(--orange); }
#id10402 { --idColor: var(--darkBlue); }
#id9648 { --idColor: var(--purple); }
#id10749 { --idColor: var(--ruby); }
#id878 { --idColor: var(--yellow); }
#id10770 { --idColor: var(--lightRed); }
#id53 { --idColor: var(--green); }
#id10752 { --idColor: var(--orange); }
#id37 { --idColor: var(--darkBlue); }


/* Generic List (search, trending & category) */
.genericList-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 24px;
}

.genericList-container .movie-container {
  display: inline-block;
  width: 47.5%;
}

.genericList-container .movie-container-error {
  background-color: var(--white);
  border-radius: 8px;
  margin-bottom: 10px;
}

.genericList-container .movie-img {
  width: 100%;
  margin-bottom: 10px;
}


/* Movie Detail */
.movieDetail-container {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 32px 24px;
  margin-top: 403px;
  z-index: 1;
  position: absolute;
  background-color: var(--white);
}

.movieDetail-title {
  display: inline-block;
  width: 80%;
  margin: 0 0 16px 0;
  padding: 0;
}

.movieDetail-score {
  display: inline-block;
  text-align: right;
  width: 18%;
  font-weight: var(--font-weight-title2);
}
.movieDetail-score::before {
  content: '★';
  color: var(--yellow);
  padding-right: 4px;
}

.movieDetail-description {
  margin: 0 0 24px 0;
}

.relatedMovies-container {
  margin-top: 24px;
  height: 250px;
}

.relatedMovies-title {
  margin-bottom: 16px;
}

.relatedMovies-scrollContainer {
  position: absolute;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: calc(100vw - 94px);
  padding-bottom: 16px;
}

.relatedMovies-scrollContainer .movie-container {
  display: inline-block;
  margin-right: 8px;
}

.relatedMovies-scrollContainer .movie-img {
  width: 125px;
  min-width: 125px;
  max-width: 125px;
  height: 187.5px;
  min-height: 187.5px;
  max-height: 187.5px;
}

.relatedMovies-scrollContainer::-webkit-scrollbar, .trendingPreview-movieList::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  margin-bottom: 10px;
}

.relatedMovies-scrollContainer::-webkit-scrollbar-track, .trendingPreview-movieList::-webkit-scrollbar-track {
  background: transparent;
}

.relatedMovies-scrollContainer::-webkit-scrollbar-thumb, .trendingPreview-movieList::-webkit-scrollbar-thumb {
  height: 8px;
  background-color: var(--fluorescent-blue);
  border-radius: 20px;
  border: 3px solid var(--fluorescent-blue);
}

body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

body::-webkit-scrollbar-track {
  background: var(--white);
}

body::-webkit-scrollbar-thumb {
  height: 8px;
  background-color: transparent;
  border-radius: 20px;
  border: 3px solid var(--pacific-blue);
}
  

/* Footer */
footer {
  background-color: var(--white);
  text-align: center;
  height: auto;
  display: flex;
  padding-top: 40px;
  padding-bottom: 25px;
  justify-content: center;
  align-items: center;
  border-bottom: solid 5px var(--fluorescent-blue);
}

.info {
  width: 100%;
  height: auto;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

a {
  width: auto;
  height: auto;
}

.logo-tmdb {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-image: url("https://pbs.twimg.com/profile_images/1243623122089041920/gVZIvphd_400x400.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-platzi {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 40px;
  background-image: url("../images/logo-platzi.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.space {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: var(--darkBlue);
}

.info .github {
  width: 34px;
  height: 34px;
  margin: 0 auto;
  background-image: url("../images/github_logo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.info p {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 15px;
}

.info p::selection {
  background-color: var(--fluorescent-blue);
  color: #1f1f1f;
}

/* Navigation */
.inactive {
  display: none;
}